<main fxLayout="column" fxLayoutAlign="center stretch">
  <h1>Rxjs - Counter</h1>

  <div id="counter">{{ counter$ | async }}</div>

  <div id="actions" fxLayout="column" fxLayoutGap="1rem">

    <div>
      <button color="primary" mat-raised-button #start>Start</button>
      <button color="primary" mat-raised-button #stop>Stop</button>
      <button color="primary" mat-raised-button #reset>Reset</button>
    </div>

    <div>
      <button color="primary" mat-raised-button #countUp>Count Up</button>
      <button color="primary" mat-raised-button #countDown>Count Down</button>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Value</mat-label>
        <input matInput type="text" [(ngModel)]="value">
      </mat-form-field>
      <button color="primary" mat-raised-button #setValue>Set</button>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Speed</mat-label>
        <input matInput type="text" [(ngModel)]="speed">
      </mat-form-field>
      <button color="primary" mat-raised-button #setSpeed>Set</button>
    </div>

    <div>
      <mat-form-field class="example-form-field">
        <mat-label>Increase</mat-label>
        <input matInput type="text" [(ngModel)]="increase">
      </mat-form-field>
      <button color="primary" mat-raised-button #setIncrease>Set</button>
    </div>
    
  </div>
</main>